// Set theme colors.
$primary: #e43a2e;

// Import bootstrap.
@import 'bootstrap/scss/bootstrap';

.logo-text {
    margin-left: 7px;
    text-align: left;
}

.site-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.main-card {
    padding: 4rem;
}

.lines {
    text-align: left;
}

.line .col {
    margin: 7px;
    flex: 0 0;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}

.line-box {
    border-radius: 8px;
    padding: 5px;
    display: block;
    width: 200px;
}

.line-box-sm {
    width: auto;
    padding: 3px;
    display: inline-block;
}

.line.amarela .line-box {
    background: #ffdd03;
}

.line.vermelha .line-box {
    background: #FF4040;
    color: #fff;
}

.line.azul .line-box {
    background: #0066FF;
    color: #fff;
}

.line.verde .line-box {
    background: #00B13C;
    color: #fff;
}

.checkmark {
    justify-content: center;
    align-items: center;
    display: flex;
}

.station-search-parent {
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.station-search {
    width: 300px;
}

#search-btn {
    margin-top: 12px;
    float: right;

    :hover {
        color: #fff;
    }
}

.hidden {
    display: none;
}

.secondary-card {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#plusBalance {
    float: inline-end;
}
